/*GLOBAL*/
* {
    --wine:#a30404;
    --yellow:#fed40e;
    --gray:#e5e5e5;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 93.75%;/*100% = 16px / 93.75% = 15px*/
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.overflow-hidden {
    overflow: hidden;
}
body {
    font-family: "Montserrat", sans-serif;
    background: var(--wine) url(../assets/img/bg_icons.svg);
    /*configura a imagem de fundo fazendo com que ela se movimenta junto com a página ou que fique fixa, respectivamente scroll e fixed*/
    background-attachment: fixed;
    /*cover faz a imagem se ajustar a largura do elemento que foi colocada sem repetir e centralizada*/
    background-size: cover;
}
/*em= sempre será relativa ao tamanho da fonte definida no elemento pai exemplo: 1em ele irá colocar uma vez o tamanho do elemento pai, caso o pai não tenha um tamanho definido ele irá considerar o padrão do navegador, 16 px / rem= sempre será relativa ao tamanho definido no elemento :root, caso não tenha fonte definida no :root irá pegar o padrão do navegador, 16px*/
.container {
    width: min(90vw, 800vw);
    padding-top: 4rem;
    margin: auto;
}
.img-fluid {
    width: max(14vw,100px);
    object-fit: cover;
}
.flex-center-full {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row {
    flex-direction: row;
}
.text-center {
    text-align: center;
}

/*BANNER*/
.slider {
    display: flex;
    transition: all ease .4s;
}
.controls-slide {
    margin: auto;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    margin-top: 8rem;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 75vh;
}
.img-titulo-banner img {
    min-width: 400px;
}
.description-banner {
    position: relative;
    top: -30px;
    max-width: 380px;
}
.right-banner img {
    max-width: 500px;
    transition: all 0.3s;
}
.right-banner img:hover {
    transform: scale(1.10);
}
.box-arrow-down {
    margin-top: 2rem;
    font-size: 3rem;
}
.box-arrow-down i:hover, .controls-slide i:hover, .btn-cardapio:hover, .active {
    opacity: 1;
}
.box-arrow-down {
    padding: 0 0 4.5rem;
}
/*CARDÁPIO*/
.cardapio {
    background: #e5e5e5 url(../assets/img/bg_icons.svg);
    background-size: cover;
    /*define se uma imagem de fundo irá rolar junto com o conteudo ou se ela se manterá fixa no local onde foi colocada*/
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
}
.box-cardapio {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 4rem 0;
}
.days-week {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background: var(--wine) url(../assets/img/bg_icons.svg);
    background-size: cover;
    background-attachment: fixed;
}
.box-btn-cardapio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-btn-cardapio a:first-child {
    margin-top: 5px;
}
.dishes-day { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    padding: 140px 60px 50px 20px;
    background: rgba(229, 229, 229, 0.7);
}
.dishes-day .col-1 {
    display: flex;
    flex-direction: column;
}
#box-dish-main .first {
    background: var(--wine);
    padding: 10px 15px;
    border-radius: 15px;
    margin-top: 20px;
}
.contents-box-dish {
    display: flex;
    justify-content: space-between;
}
.dish {
    padding: 10px 15px;
    margin-top: 20px;
}

/*GALERIA*/
.box-galeria, #box-equipe {
    display: flex;
    justify-content: center;
    background: #e5e5e5 url(../assets/img/bg_icons.svg);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 100px;
}
.container-fotos, .container-equipe {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-fotos, .box-fotos-equipes {
    display: grid;
    /*repeat() = define quantas colunas irão existir no grid o tamanho que cada coluna*/
    grid-template-columns: repeat(4,1fr);
    grid-gap: 45px;
    margin-top: 20px;
}
.box-galeria img, #box-equipe img {
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.box-galeria img:hover, #box-equipes img:hover {
    transform: scale(1.05);
    filter:contrast(70%);
}
/*FOOTER*/
footer{
    background: #353535 url(../assets/img/bg_icons.svg);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 4rem;
}
#contato {
    display: flex;
    flex-direction: column;
}
.box-info-contato {
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: max(20vw, 480px);
    padding: 15px;
    margin-top: 25px;
}
#box-whats-delivery {
    background: #fff;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
}
#box-whats-delivery img {
    width: max(7vw, 110px);
    position: absolute;
    left: min(42vw, 550px);
    transition: all 0.3s;
}
#box-whats-delivery img:hover {
    /*!important= define como prioridade máxima para uma propriedade, quando aplicado garante que nenhuma outra regra sobreponha a regra onde foi utilizado*/
    left: min(45vw, 600px) !important;
}
#whats {
    display: flex;
    align-items: center;
    transition: all 0.3s;
}
#whats:hover {
    transform: scale(1.05);
}
.redes-sociais {
    text-align: right;
    font-size: 3rem;
    margin-top: 15px;
}